/*====================SEÇÃO DE TAGS====================*/
body{
    margin: 0;
    text-align: center;
}

h1{
    margin: 0 auto;
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
}

/*====================SEÇÃO DE CLASSES====================*/

.nome{
    font-family: 'Sacramento', cursive;
    font-size: 330%; 
    color: white;  
    
}

.subnome{
    text-decoration: underline;
    font-family: 'Merriweather', serif;
    font-size: 155%;
    color: white;  
}

.top-container{
    position: relative;
    padding: 5%;
    background-image: url(../mídia/fundo-header.png);
    background-size: auto;   
    background-repeat: no-repeat;
}

.logo{
    width: 40%;
    height: 60%;
}

.circuito-cima{
    position:absolute;
    top: 1%;
    right: 1%;
    width: 40%;
}

.circuito-baixo{
    position:absolute;
    top: 30%;
    left: 1%;
    width: 40%;
}



