/*====================SEÇÃO DE TAGS====================*/
body{
    margin: 0;
    text-align: center;
}

h1{
    margin: 0 auto;
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
}

/*====================SEÇÃO DE CLASSES====================*/

.nome{
    font-family: 'Sacramento', cursive;
    font-size: 330%; 
    color: white;  
}

.subnome{
    text-decoration: underline;
    font-family: 'Merriweather', serif;
    font-size: 155%;
    color: white;  
}

.top-container{
    background-color: #427D9D; 
    position: relative; 
    padding-top: 5%;   
}


.circuito-cima{
    position:absolute;
    top: 1%;
    right: 1%;
}

.circuito-baixo{
    position:absolute;
    top: 38%;
    left: 1%;
}



